@{
    ViewData["Title"] = "Thông tin sinh viên";
}

<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr />
    <p>Mã sinh viên: 2210900073</p>
    <p>Họ và tên: Phạm Anh Tuấn</p>
    <p>Lớp: K22CNT1</p>
    <p>Email:anhtuan@gmail.com</p>
    <p>Điện thoại:
        <a href="tel:0978611889">0978 611 889</a>
    </p>
</div>
