<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - PatDay03View - <a asp-area="" asp-controller="PatHome" asp-action="PatAbout">Thông tin</a>
    </div>

    <div class="col-3">
        @await Component.InvokeAsync("PatDemo")
    </div>
</footer>